<%- include('../partials/header') %>

    <a href="/products">Back</a>
    <h1><%= product.title %> - $<%= product.price.toFixed(2) %></h1>
    <p><%= product.description %></p>
    <p><strong>Created At: </strong><%= product.createdAt %></p>

    <!-- DELETE BUTTON -->
    <form class="" action="/products/<%= product.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="submit" value="Delete">
    </form>

    <h2>Reviews</h2>

    <form class="" action="/products/<%= product.id %>/reviews" method="post">
      <div class="">
        <textarea id="content" name="content" rows="8" cols="80"></textarea>
      </div>
      <div class="">
        <label for="rating">Rating</label>
        <input type="number" step="1" name="rating" id="rating">
      </div>
      <input type="submit" name="submit" value="Submit">
    </form>

    <ul class="reviews-list">
      <% for (let review of reviews) { %>
        <li>
          <p><%= review.content %></p>
          <p><strong>Rating:</strong> <%= review.rating %></p>
          <p><strong>Created At:</strong> <%= review.createdAt %></p>
        </li>
      <% } %>
    </ul>

<%- include('../partials/footer') %>
